APP_NAME="IPB Internship & Career Tracker"

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=ipb_tracker

PORT=8000

SECRET_KEY=ubah-dengan-string-random-panjang-dan-rahasia
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256
